@media screen and (min-width: 576px) {
	.card__title,
	.card__tag,
	.card__rate {
		font-size: 24px;
	}
	.card__description {
		font-size: 18px;
	}
	.card__imagebox {
		height: 400px;
	}
	.detail__like {
		margin-top: -92px;
	}
	#likeButton {
		padding: 25px;
	}
	#likeButton .material-icons {
		font-size: 32px;
	}
	.search__text {
		width: 400px;
	}
	.skeleton:empty {
		height: 661px;
		background-image: linear-gradient(
				90deg,
				rgba(60, 60, 60, 0) 0,
				rgba(60, 60, 60, 0.8) 50%,
				rgba(60, 60, 60, 0) 100%
			),
			linear-gradient(#6c6c6c 44px, transparent 0),
			linear-gradient(#3c3c3c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#3c3c3c 100%, transparent 0);
		background-size: 200px 100%, 120px 44px, 100% 400px, 100% 62px,
			calc(100% - 32px) 49px, calc(100% - 32px) 18px, calc(90% - 32px) 18px,
			calc(80% - 32px) 18px, calc(100% - 32px) 18px, 100% 100%;
		background-position: 450% 0, 0 15px, 0 0, 0 400px, 16px 478px, 16px 543px,
			16px 571px, 16px 599px, 16px 627px, 0 0;
		animation: looping 1.75s infinite;
	}
	.skeleton__main:empty {
		height: 816px;
		background-image: linear-gradient(
				90deg,
				rgba(60, 60, 60, 0) 0,
				rgba(60, 60, 60, 0.8) 50%,
				rgba(60, 60, 60, 0) 100%
			),
			radial-gradient(circle 41px, #6c6c6c 82px, transparent 0),
			linear-gradient(#3c3c3c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#3c3c3c 100%, transparent 0);
		background-size: 200px 100%, 82px 82px, 100% 400px, 100% 62px, 24px 24px,
			100px 24px, 70px 25px, 70px 25px, 24px 24px, 44px 24px, 80px 25px,
			24px 24px, 80px 24px, 150px 25px, 24px 24px, 110px 24px,
			calc(100% - 61px) 100px, 100% 100%;
		background-position: -250% 0, calc(100% - 10px) 308px, 0 0, 0 400px,
			16px 478px, 45px 478px, 45px 507px, 120px 507px, 16px 542px, 45px 542px,
			45px 571px, 16px 606px, 45px 606px, 45px 636px, 16px 671px, 45px 671px,
			45px 700px, 0 0;
		animation: looping_main 1.75s infinite;
	}
	@keyframes looping {
		to {
			background-position: -250% 0, 0 15px, 0 0, 0 400px, 16px 478px, 16px 543px,
				16px 571px, 16px 599px, 16px 627px, 0 0;
		}
	}
	@keyframes looping_main {
		to {
			background-position: 450% 0, calc(100% - 10px) 308px, 0 0, 0 400px,
				16px 478px, 45px 478px, 45px 507px, 120px 507px, 16px 542px, 45px 542px,
				45px 571px, 16px 606px, 45px 606px, 45px 636px, 16px 671px, 45px 671px,
				45px 700px, 0 0;
		}
	}
}
@media screen and (min-width: 768px) {
	.hero {
		background-image: url("/images/heros/hero-image_4-large.jpg");
	}
	.cards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}
	.card,
	.detail,
	.skeleton:empty,
	.skeleton__main:empty,
	.skeleton__menu:empty,
	.skeleton__review:empty,
	.skeleton__addreview:empty {
		margin: 0;
	}
	.card__title,
	.card__tag,
	.card__rate {
		font-size: inherit;
	}
	.card__description {
		font-size: 12px;
	}
	.card__imagebox {
		height: 250px;
	}
	.detail__main {
		grid-row-start: 1;
		grid-row-end: 4;
	}
	.detail__menu {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	.detail__review {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	.detail__addreview {
		grid-column-start: 2;
		grid-column-end: 3;
	}
	.detail__like {
		margin-top: -56px;
	}
	#likeButton {
		padding: 15px;
	}
	#likeButton .material-icons {
		font-size: 16px;
	}
	.skeleton:empty {
		height: 511px;
		background-image: linear-gradient(
				90deg,
				rgba(60, 60, 60, 0) 0,
				rgba(60, 60, 60, 0.8) 50%,
				rgba(60, 60, 60, 0) 100%
			),
			linear-gradient(#6c6c6c 44px, transparent 0),
			linear-gradient(#3c3c3c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#3c3c3c 100%, transparent 0);
		background-size: 200px 100%, 120px 44px, 100% 250px, 100% 62px,
			calc(100% - 32px) 49px, calc(100% - 32px) 18px, calc(90% - 32px) 18px,
			calc(80% - 32px) 18px, calc(100% - 32px) 18px, 100% 100%;
		background-position: -250% 0, 0 15px, 0 0, 0 250px, 16px 328px, 16px 393px,
			16px 421px, 16px 449px, 16px 477px, 0 0;
		animation: looping 1.75s infinite;
	}
	.skeleton__main:empty {
		height: 100%;
		background-image: linear-gradient(
				90deg,
				rgba(60, 60, 60, 0) 0,
				rgba(60, 60, 60, 0.8) 50%,
				rgba(60, 60, 60, 0) 100%
			),
			radial-gradient(circle 23px, #6c6c6c 46px, transparent 0),
			linear-gradient(#3c3c3c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#3c3c3c 100%, transparent 0);
		background-size: 200px 100%, 46px 46px, 100% 250px, 100% 62px, 24px 24px,
			100px 24px, 70px 25px, 70px 25px, 24px 24px, 44px 24px, 80px 25px,
			24px 24px, 80px 24px, 150px 25px, 24px 24px, 110px 24px,
			calc(100% - 61px) 100px, 100% 100%;
		background-position: -250% 0, calc(100% - 10px) 194px, 0 0, 0 250px,
			16px 328px, 45px 328px, 45px 357px, 120px 357px, 16px 392px, 45px 392px,
			45px 421px, 16px 456px, 45px 456px, 45px 486px, 16px 521px, 45px 521px,
			45px 550px, 0 0;
		animation: looping_main 1.75s infinite;
	}
	@keyframes looping {
		to {
			background-position: 450% 0, 0 15px, 0 0, 0 250px, 16px 328px, 16px 393px,
				16px 421px, 16px 449px, 16px 477px, 0 0;
		}
	}
	@keyframes looping_main {
		to {
			background-position: 450% 0, calc(100% - 10px) 194px, 0 0, 0 250px,
				16px 328px, 45px 328px, 45px 357px, 120px 357px, 16px 392px, 45px 392px,
				45px 421px, 16px 456px, 45px 456px, 45px 486px, 16px 521px, 45px 521px,
				45px 550px, 0 0;
		}
	}
}
@media screen and (min-width: 992px) {
	.header {
		display: grid;
		grid-template-columns: 1fr 1fr;
		background-color: #3fc1b0;
	}
	.header__inner {
		display: block;
	}
	.header__menu {
		display: none;
	}
	.header__title {
		text-align: left;
		padding: 10px;
	}
	.nav {
		line-height: 2;
		width: auto;
		position: relative;
		padding: 10px 30px;
		background-color: unset;
		transform: translate(0, 0);
		transition: transform 0.5s ease;
		z-index: 11;
	}
	.nav__list {
		text-align: center;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 10px;
	}
	.nav__item {
		display: inline-block;
	}
	.nav__item a {
		font-size: 1.5em;
		background-color: #1c1c1c;
		border-radius: 10px;
		width: 100%;
		color: white;
		text-align: center;
		text-decoration: none;
		font-weight: 600;
		padding: 0;
		display: inline-block;
		border: none;
	}
	.nav__item a:hover {
		background-color: white;
		color: black;
		font-weight: 600;
	}
	.cards {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto auto auto;
	}
	.details {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
	.detail .card__imagebox {
		height: 400px;
	}
	.detail__main {
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.detail__menu {
		grid-column-start: 4;
		grid-column-end: 6;
	}
	.detail__review {
		grid-column-start: 4;
		grid-column-end: 6;
	}
	.detail__addreview {
		grid-column-start: 4;
		grid-column-end: 6;
	}
	.detail__like {
		margin-top: -92px;
	}
	#likeButton {
		padding: 25px;
	}
	#likeButton .material-icons {
		font-size: 32px;
	}
	.skeleton__main:empty {
		background-image: linear-gradient(
				90deg,
				rgba(60, 60, 60, 0) 0,
				rgba(60, 60, 60, 0.8) 50%,
				rgba(60, 60, 60, 0) 100%
			),
			radial-gradient(circle 41px, #6c6c6c 82px, transparent 0),
			linear-gradient(#3c3c3c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#6c6c6c 100%, transparent 0),
			linear-gradient(#3c3c3c 100%, transparent 0);
		background-size: 200px 100%, 82px 82px, 100% 400px, 100% 62px, 24px 24px,
			100px 24px, 70px 25px, 70px 25px, 24px 24px, 44px 24px, 80px 25px,
			24px 24px, 80px 24px, 150px 25px, 24px 24px, 110px 24px,
			calc(100% - 61px) 100px, 100% 100%;
		background-position: -250% 0, calc(100% - 10px) 308px, 0 0, 0 400px,
			16px 478px, 45px 478px, 45px 507px, 120px 507px, 16px 542px, 45px 542px,
			45px 571px, 16px 606px, 45px 606px, 45px 636px, 16px 671px, 45px 671px,
			45px 700px, 0 0;
		animation: looping_main 1.75s infinite;
	}
	@keyframes looping_main {
		to {
			background-position: 450% 0, calc(100% - 10px) 308px, 0 0, 0 400px,
				16px 478px, 45px 478px, 45px 507px, 120px 507px, 16px 542px, 45px 542px,
				45px 571px, 16px 606px, 45px 606px, 45px 636px, 16px 671px, 45px 671px,
				45px 700px, 0 0;
		}
	}
}
@media screen and (min-width: 1200px) {
	.header {
		grid-template-columns: 3fr 2fr;
	}
}
@media screen and (min-width: 1400px) {
	.header {
		grid-template-columns: 5fr 3fr;
	}
}
